:root {
    --colour1: #342E37; /* Black Coffee */
    --colour2: #777DA7; /* Rhythm (light blue) */
    --colour3: #EDF6F9; /* Alice Blue (white blue) */
    --colour4: #F56476; /* Fiery Rose */
    --colour5: #DBB957; /* Gold Metallic */
    --colour6: rgba(255,255,255,0.4)
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--colour1);
    color: var(--colour3);
    margin: 15px;
    text-align: center;
}

.headerWrap {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(50px, auto);
}

.headerTitle {
    text-align: left;
    grid-column: 1;
    grid-row: 1;
}

.headerBtn1 {
    grid-column: 2;
    grid-row: 1;
}

.headerBtn2 {
    grid-column: 3;
    grid-row: 1;
}

.headerBtn3 {
    grid-column: 4;
    grid-row: 1;
}

.headerBtn4 {
    grid-column: 5;
    grid-row: 1;
}

.bankAmount {
    grid-column: 6;
    grid-row: 1;
}

.changeThemeBtn {
    grid-column: 7;
    grid-row: 1;
}

header button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: var(--colour3);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12pt;
}

header .btn {
    cursor: crosshair;
    height: 50%;
    width: 100%;
    padding-top: 12.5%;
    border-radius: 15px;
    transition: ease-in-out 0.3s;
}

header .btn:hover {
    background-color: var(--colour2);
    cursor:pointer;
}

.homeDiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(250px, auto);
}

.towersImg {
    grid-column: 1;
    grid-row: 1;
}

.rouletteImg {
    grid-column: 2;
    grid-row: 1;
}

.minesImg {
    grid-column: 1 / 3;
    grid-row: 2;
}

.round {
    border-radius: 15px;
    background-color: var(--colour6)
}

.towersImg {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('/img/towers.png');
    transition: ease-in-out 0.2s;
}

.towersImg:hover {
    transform: scale(0.95);
}

.rouletteImg {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('/img/roulette.png');
    transition: ease-in-out 0.2s;
}

.rouletteImg:hover {
    transform: scale(0.95);
}

.minesImg {
    overflow:hidden;
    background-size:cover;
    background-position: center;
    background-image: url('/img/mines.png');
    transition: ease-in-out 0.2s;
}

.minesImg:hover {
    transform: scale(0.95);
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

.towerWrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(500px, auto);
}

.towerWrapper div {
    background-color: var(--colour2);
    border-radius: 15px;
}

.towerWrapper .towerSettings {
    grid-column: 2 / 4;
    grid-row: 1;
}

.towerWrapper .towerGame {
    grid-column: 4 / 7;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(10px, auto);
}

input {
    font-size: 12pt;
}

.towerSettings .btn {
    width: 30%;
    height: 25px;
    background-color: var(--colour4);
    border: none;
    border-radius: 5px;
    color: var(--colour3);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: ease-in-out 0.2s;
}

.towersStartBtn {
    width: 60%;
    height: 40px;
    font-size: 12pt;
    background-color: var(--colour5);
    border: none;
    border-radius: 15px;
    color: var(--colour3);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: ease-in-out 0.2s;
}


.towerSettings .btn:hover {
    background-color: var(--colour6);
    cursor: pointer;
}

.towersStartBtn:hover {
    transform: scale(1.3);
    cursor: pointer;
}

/*.towerGame div {
    background-color: var(--colour6);
}*/

.towersGameTitle {
    grid-column: 3 / 6;
    grid-row: 1;
}

.rowSeven {
    grid-column: 2 / 7;
    grid-row: 2;
}

.rowSix {
    grid-column: 2 / 7;
    grid-row: 3;
}

.rowFive {
    grid-column: 2 / 7;
    grid-row: 4;
}

.rowFour {
    grid-column: 2 / 7;
    grid-row: 5;
}

.rowThree {
    grid-column: 2 / 7;
    grid-row: 6;
}

.rowTwo {
    grid-column: 2 / 7;
    grid-row: 7;
}

.rowOne {
    grid-column: 2 / 7;
    grid-row: 8;
}

.space {
    grid-column: 1 / 8;
    grid-row: 9
}

.btn1 {
    height: 100%;
    width: 20%;
    margin-right: 10px;
}

.btn2 {
    height: 100%;
    width: 20%;
}

.btn3 {
    height: 100%;
    width: 20%;
    margin-left: 10px;
}

.towerGame button {
    border: none;
    border-radius: 7px;
    transition: 0.2s ease-in-out;
}

.towerGame button:hover {
    cursor: pointer;
    transform:scale(1.05)
}